# user-defined ignores (avoid committing large files)

*.swp
a.out
save/

## private README etc files
GPLv3_*


## generated object files
*.o

## generated simulation files by running vasaMac
*.HoegstaPunktenCalib
*.macro
*.traj
*.eps
*.x[0-9]*
*.bak
log
*~
int
*.HoegstaPunktenCalib
*.macro
*.traj
*.x[0-9]*
